In [1]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import functools as ft

In [2]:
#identify all the csv files in folder
file_extension =".csv"

In [3]:
#NOTE 
#an f" string can pass variables

#for example
value=5
f"This is a cool string {value}"

#So using f" we can create a list comprhension using an f" string

'This is a cool string 5'

In [4]:
#create a list comprhension for aqi data, cancer data, and HSPA data
aqi_all= [i for i in glob.glob(f"annual*{file_extension}")]
cancer_all= [i for i in glob.glob(f"Lung*{file_extension}")]
HSPA_all=[i for i in glob.glob(f"HSPA*{file_extension}")]

In [5]:
#let's check our list to see if we have all the csv's we want

print(aqi_all)
print(cancer_all)
print(HSPA_all)

#FYI,for example, if we want to only see columns the first 2 columns, we can do print(aqi_all [0:2])

['annual_aqi_by_county_2006.csv', 'annual_aqi_by_county_2007.csv', 'annual_aqi_by_county_2008.csv', 'annual_aqi_by_county_2009.csv', 'annual_aqi_by_county_2010.csv', 'annual_aqi_by_county_2011.csv', 'annual_aqi_by_county_2012.csv', 'annual_aqi_by_county_2013.csv', 'annual_aqi_by_county_2014.csv', 'annual_aqi_by_county_2015.csv', 'annual_aqi_by_county_2016.csv']
['Lung_cancer_data_1.csv', 'Lung_cancer_data_2.csv', 'Lung_cancer_data_3.csv', 'Lung_cancer_data_4.csv']
['HSPA.csv']

In [38]:
#write a loop that will call all the aqi csv and then concat all our aqi data frame
aqi_df=pd.concat([pd.read_csv(file,delimiter=',', encoding='UTF-8') for file in aqi_all])

#only keep the state of California
aqi_df= aqi_df.loc[aqi_df.State == 'California'].reset_index()
# replace spaces with underscore in all column names in dataframe to make it easier to use later
aqi_df.columns = aqi_df.columns.str.replace(' ', '_')
aqi_df.head()

,index,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,Max_AQI,90th_Percentile_AQI,Median_AQI,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10
0,62,California,Alameda,2006,365,220,123,17,5,0,0,190,84,45,0,25,155,0,185,0
1,63,California,Amador,2006,364,265,69,27,3,0,0,185,97,37,0,0,364,0,0,0
2,64,California,Butte,2006,365,155,142,59,9,0,0,172,122,56,0,1,262,0,100,2
3,65,California,Calaveras,2006,364,230,88,34,11,1,0,201,108,42,0,0,347,0,17,0
4,66,California,Colusa,2006,365,234,128,2,1,0,0,154,74,45,0,0,216,0,145,4

In [37]:
#write a loop that will call all the SEER csv and then concat them
cancer_df= pd.concat([pd.read_csv(file,delimiter=',', encoding='UTF-8') for file in cancer_all]).reset_index()

#The year variable is not correctly formatted so we fix that here
cancer_df['Year']= cancer_df['Year of diagnosis']-200 +2000

# replace spaces with underscore in all column names in dataframe to make it easier to use later
cancer_df.columns = cancer_df.columns.str.replace(' ', '_')

,index,Age_recode_with_<1_year_olds,Sex,Year_of_diagnosis,"Race_recode_(White,_Black,_Other)",Histologic_Type_ICD-O-3,"ICD-O-3_Hist/behav,_malignant",Laterality,Sequence_number,County_Code,Year
0,0,16,2,206,1,250,1003,2,2,6013,2006
1,1,16,1,206,1,70,283,2,2,6001,2006
2,2,15,2,207,1,46,187,1,2,6013,2007
3,3,16,2,211,1,10,43,2,3,6075,2011
4,4,16,2,209,1,140,563,1,2,6075,2009

In [41]:
#call the HSPA data
hspa_df=pd.read_csv('HSPA.csv')

# replace spaces with underscore in all column names in dataframe to make it easier to use later
hspa_df.columns = hspa_df.columns.str.replace(' ', '_')

,Designated_Area_Name,County,Index_of_Medical_Underservice_Score,Rural_Status
0,Alameda,Alameda,58.30,Non-Rural
1,Amador County,Amador,58.80,Rural
2,Feather Falls,Butte,50.00,Rural
3,Oroville/Palermo,Butte,56.90,Rural
4,Conta Costa,Contra Costa,56.70,Non-Rural
5,Del Norte County,Del Norte,61.00,Rural
6,North El Dorado County,El Dorado,58.80,Rural
7,Pollock Pines,El Dorado,61.20,Non-Rural
8,Fresno,Fresno,59.70,Non-Rural
9,Laton/Riverdale,Fresno,56.80,Rural
10,Coalinga/Huron,Fresno,59.40,Rural
11,Kerman,Fresno,53.90,Non-Rural
12,San Joaquin-Tranquility,Fresno,60.90,Rural
13,Firebaugh/ Mendota,Fresno,55.50,Rural
14,Firebaugh/ Mendota,Merced,55.50,Rural
15,Orland,Glenn,56.80,Rural
16,Arcata,Humboldt,59.80,Rural
17,Ferndale,Humboldt,62.00,Rural
18,Garberville/Redway,Humboldt,60.90,Rural
19,McKinleyville,Humboldt,60.90,Rural
20,North Coastal,Humboldt,58.30,Rural
21,Willow Creek,Humboldt,59.80,Rural
22,Calexico,Imperial,51.03,Non-Rural
23,West Imperial,Imperial,46.00,Rural
24,Lone Pine/ Independence,Inyo,57.70,Rural
25,Bakersfield East/Lakeview/La Loma,Kern,56.80,Non-Rural
26,Kern,Kern,60.13,Rural
27,Avenal,Kings,59.20,Rural
28,Corcoran,Kings,59.30,Rural
29,Lake County,Lake,55.40,Rural
...,...,...,...,...
100,Central Shasta,Shasta,61.10,Rural
101,East Shasta/burney,Shasta,61.00,Rural
102,Anderson/Cottonwood,Shasta,61.50,Non-Rural
103,East Sierra,Sierra,61.60,Rural
104,West Sierra,Sierra,57.60,Rural
105,Butte Valley,Siskiyou,52.00,Rural
106,Dunsmuir,Siskiyou,62.00,Rural
107,Etna/Fort Jones,Siskiyou,61.70,Rural
108,McCloud-Medicine,Siskiyou,50.70,Rural
109,Hornbrook-Hilt,Siskiyou,55.00,Rural
110,Tule Lake,Siskiyou,47.70,Rural
111,Rio Vista,Solano,47.00,Rural
112,Solano,Solano,59.90,Non-Rural
113,Sonoma,Sonoma,50.20,Non-Rural
114,Stanislaus,Stanislaus,61.10,Non-Rural
115,Live Oak,Sutter,56.30,Non-Rural
116,Meridian-robbins,Sutter,57.10,Non-Rural
117,South Sutter,Sutter,61.10,Non-Rural
118,Corning,Tehama,61.10,Rural
119,Hayfork,Trinity,54.70,Rural
120,Mad River,Trinity,57.20,Rural
121,Junction City/Weaverville,Trinity,61.10,Rural
122,Woodlake/Ivanhoe,Tulare,54.20,Non-Rural
123,Three Rivers,Tulare,59.80,Rural
124,Tulare,Tulare,56.20,Rural
125,Tuolumne County,Tuolumne,54.50,Rural
126,Ventura,Ventura,61.00,Non-Rural
127,Yolo,Yolo,53.20,Non-Rural
128,Brownsville,Yuba,56.00,Non-Rural
129,Wheatland,Yuba,56.30,Non-Rural

In [45]:
#call the fips dataset
fips_df=pd.read_csv('ca_fips_codes.csv')

# replace spaces with underscore in all column names in dataframe to make it easier to use later
fips_df.columns = fips_df.columns.str.replace(' ', '_')

In [10]:
#let's check each data frames shape
aqi_df.shape

(589, 20)

In [11]:
cancer_df.shape

(188506, 11)

In [12]:
hspa_df.shape

(130, 4)

In [13]:
hspa_df['County'].nunique()

49

In [14]:
#Let's make dummy variables

In [15]:
fips_df.shape

(58, 2)

In [16]:
#What are the min days with AQI
aqi_df['Days_with_AQI'].min()

7

In [42]:
#What are max days with AQI
aqi_df['Days_with_AQI'].max()

366

In [18]:
#Let's describe the data frames
aqi_df.describe()

,index,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
count,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000
mean,80.787776,2011.025467,347.694397,201.899830,112.582343,25.049236,7.196944,0.633277,0.332767,312.964346,88.142615,48.460102,0.113752,10.444822,218.208829,0.246180,104.998302,13.682513
std,15.990988,3.163519,62.621569,92.637828,63.770652,29.390509,14.194420,2.257560,1.830755,1085.186832,34.343206,17.296745,0.752974,19.036014,98.593798,2.919936,73.937106,46.218566
min,49.000000,2006.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,21.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,67.000000,2008.000000,365.000000,127.000000,66.000000,2.000000,0.000000,0.000000,0.000000,120.000000,63.000000,38.000000,0.000000,0.000000,172.000000,0.000000,32.000000,0.000000
50%,81.000000,2011.000000,365.000000,215.000000,113.000000,13.000000,1.000000,0.000000,0.000000,155.000000,84.000000,45.000000,0.000000,1.000000,223.000000,0.000000,115.000000,1.000000
75%,94.000000,2014.000000,365.000000,272.000000,162.000000,37.000000,6.000000,0.000000,0.000000,190.000000,105.000000,54.000000,0.000000,14.000000,286.000000,0.000000,155.000000,6.000000
max,114.000000,2016.000000,366.000000,359.000000,275.000000,122.000000,74.000000,25.000000,24.000000,14043.000000,190.000000,107.000000,8.000000,124.000000,366.000000,64.000000,355.000000,354.000000

In [19]:
cancer_df.describe()

,index,Age recode with <1 year olds,Sex,Year of diagnosis,"Race recode (White, Black, Other)",Histologic Type ICD-O-3,"ICD-O-3 Hist/behav, malignant",Laterality,Sequence number,County Code,Year
count,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000,188506.000000
mean,39675.296627,14.766649,1.489417,210.936718,1.334568,115.475576,464.902305,2.016344,0.593875,6056.720370,2010.936718
std,32588.122213,2.214920,0.499889,3.158165,0.773632,117.678584,470.714334,2.054263,1.059978,27.199303,3.158165
min,0.000000,1.000000,1.000000,206.000000,1.000000,0.000000,3.000000,0.000000,0.000000,6001.000000,2006.000000
25%,12056.250000,13.000000,1.000000,208.000000,1.000000,46.000000,187.000000,1.000000,0.000000,6037.000000,2008.000000
50%,29552.500000,15.000000,1.000000,211.000000,1.000000,70.000000,283.000000,1.000000,0.000000,6061.000000,2011.000000
75%,64861.750000,16.000000,2.000000,214.000000,1.000000,140.000000,563.000000,2.000000,1.000000,6073.000000,2014.000000
max,111988.000000,18.000000,2.000000,216.000000,9.000000,1581.000000,6327.000000,9.000000,99.000000,6115.000000,2016.000000

In [20]:
hspa_df.describe()

       Index of Medical Underservice Score
count                           130.000000
mean                             57.329692
std                               3.841831
min                              46.000000
25%                              55.425000
50%                              58.450000
75%                              60.182500
max                              62.000000

In [21]:
#How many counties are in the AQI dataframe.
count=aqi_df['County'].nunique()
print("In the AQI data frame, there are", count, "counties. That means 4 counties are missing from this dataframe.")

In the AQI data frame, there are 54 counties. That means 4 counties are missing from this dataframe.

In [22]:
#How many years are there?
print("Here are the value counts for each year in the AQI data:" , aqi_df['Year'].value_counts())

Here are the value counts for each year in the AQI data: 2016    54
2015    54
2014    54
2013    54
2012    54
2011    54
2010    53
2009    53
2008    53
2007    53
2006    53
Name: Year, dtype: int64

### This is telling us that in 2006-2010 there is one county that didn't have data.

In [23]:
aqi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 20 columns):
index                                  589 non-null int64
State                                  589 non-null object
County                                 589 non-null object
Year                                   589 non-null int64
Days with AQI                          589 non-null int64
Good Days                              589 non-null int64
Moderate Days                          589 non-null int64
Unhealthy for Sensitive Groups Days    589 non-null int64
Unhealthy Days                         589 non-null int64
Very Unhealthy Days                    589 non-null int64
Hazardous Days                         589 non-null int64
Max AQI                                589 non-null int64
90th Percentile AQI                    589 non-null int64
Median AQI                             589 non-null int64
Days CO                                589 non-null int64
Days NO2                               589 non-null int64
Days Ozone                             589 non-null int64
Days SO2                               589 non-null int64
Days PM2.5                             589 non-null int64
Days PM10                              589 non-null int64
dtypes: int64(18), object(2)
memory usage: 92.1+ KB

In [43]:
#create new columns that calculate the percentage of days
pd.options.mode.chained_assignment = None  # default='warn'
#Adding new columns for % and using the rounding function to limit to 2 decimal places
aqi_df['% Good_Days'] = round((aqi_df['Good_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% Moderate_Days'] = round((aqi_df['Moderate_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% Unhealthy_for_Sensitive_Groups_Days'] = round((aqi_df['Unhealthy_for_Sensitive_Groups_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% Unhealthy_Days'] = round((aqi_df['Unhealthy_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% Very_Unhealthy_Days'] = round((aqi_df['Very_Unhealthy_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% Hazardous_Days'] = round((aqi_df['Hazardous_Days']/aqi_df['Days_with_AQI'])*100,2)
aqi_df['% PM2.5_Days'] = round ((aqi_df['Days_PM2.5']/aqi_df['Days_with_AQI'])*100,2)

#Just going to check the tail on this
aqi_df.tail(10)

,index,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,...,Days_SO2,Days_PM2.5,Days_PM10,% Good_Days,% Moderate_Days,% Unhealthy_for_Sensitive_Groups_Days,% Unhealthy_Days,% Very_Unhealthy_Days,% Hazardous_Days,% PM2.5_Days
579,93,California,Solano,2016,366,278,86,2,0,0,...,0,155,0,75.96,23.50,0.55,0.00,0.0,0.0,42.35
580,94,California,Sonoma,2016,366,348,18,0,0,0,...,0,64,4,95.08,4.92,0.00,0.00,0.0,0.0,17.49
581,95,California,Stanislaus,2016,366,147,176,40,3,0,...,0,159,4,40.16,48.09,10.93,0.82,0.0,0.0,43.44
582,96,California,Sutter,2016,366,166,168,32,0,0,...,0,162,0,45.36,45.90,8.74,0.00,0.0,0.0,44.26
583,97,California,Tehama,2016,366,226,98,37,5,0,...,0,40,1,61.75,26.78,10.11,1.37,0.0,0.0,10.93
584,98,California,Trinity,2016,167,116,51,0,0,0,...,0,167,0,69.46,30.54,0.00,0.00,0.0,0.0,100.00
585,99,California,Tulare,2016,366,80,162,102,22,0,...,0,137,7,21.86,44.26,27.87,6.01,0.0,0.0,37.43
586,100,California,Tuolumne,2016,354,223,86,38,7,0,...,0,0,0,62.99,24.29,10.73,1.98,0.0,0.0,0.00
587,101,California,Ventura,2016,366,173,184,9,0,0,...,0,127,7,47.27,50.27,2.46,0.00,0.0,0.0,34.70
588,102,California,Yolo,2016,366,293,69,4,0,0,...,0,83,1,80.05,18.85,1.09,0.00,0.0,0.0,22.68

In [49]:
#how many counties in the cancer dataframe?
print("There are",cancer_df['County_Code'].nunique(),"in the cancer dataset.")

There are 58 in the cancer dataset.

In [46]:
#Our cancer dataset has county codes. So we are going to merge this dataframe with the fips dataframe, which contains
#the county name and the associated fips code. After that, we do an outer merge between our cancer df and fips df. 
#An outer merge keeps the union of both df. Now our cancer df has county names. 
fips_merge= pd.merge(cancer_df, fips_df, on="County_Code" , how="outer")

#Lastly we combine it with the API dataset to have one complete dataset. It has aqi, cancer and

#create list of datasets
data_frames= [aqi_df,fips_merge]

#merge all your datset
dataset= ft.reduce(lambda left,right: pd.merge(left,right,on=['County', 'Year'], how='outer'), data_frames)

dataset.head()

#Note
#I didn't merge the HSPA dataset with the rest because we have to add a year column to it (otherwise it's a lot of work)
#to merge. Also, we need to talk about how we are going to use the variable (how we are going to assign it binary variable).

,index_x,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,...,index_y,Age_recode_with_<1_year_olds,Sex,Year_of_diagnosis,"Race_recode_(White,_Black,_Other)",Histologic_Type_ICD-O-3,"ICD-O-3_Hist/behav,_malignant",Laterality,Sequence_number,County_Code
0,62.0,California,Alameda,2006,365.0,220.0,123.0,17.0,5.0,0.0,...,1.0,16.0,1.0,206.0,1.0,70.0,283.0,2.0,2.0,6001.0
1,62.0,California,Alameda,2006,365.0,220.0,123.0,17.0,5.0,0.0,...,9.0,12.0,1.0,206.0,1.0,46.0,187.0,1.0,3.0,6001.0
2,62.0,California,Alameda,2006,365.0,220.0,123.0,17.0,5.0,0.0,...,29.0,16.0,1.0,206.0,1.0,140.0,563.0,1.0,2.0,6001.0
3,62.0,California,Alameda,2006,365.0,220.0,123.0,17.0,5.0,0.0,...,31.0,12.0,2.0,206.0,1.0,46.0,187.0,1.0,2.0,6001.0
4,62.0,California,Alameda,2006,365.0,220.0,123.0,17.0,5.0,0.0,...,43.0,16.0,2.0,206.0,1.0,140.0,563.0,1.0,3.0,6001.0

In [62]:
#Let's store the counties from the cancer and aqi dataframe in separate lists so we can see what counties are missing
cancer_counties=list(set(fips_merge.County))

aqi_counties= list(set(aqi_df.County))

missing_counties = [
    list(set(cancer_counties).difference(aqi_counties))
]

print("These are the 4 counties missing from the AQI data:", missing_counties)

These are the 4 counties missing from the AQI data: [['Sierra', 'Yuba', 'Modoc', 'Lassen']]

In [78]:
#find the year that is missing early on in the aqi dataset
aqi_2006=list(set(aqi_df.Year))
aqi_2007=list(set(aqi_df.Year))
aqi_2016=list(set(aqi_df.Year))

difference= [
    list(set(aqi_2006).difference(aqi_2016))
]

print("This is the missing state in 2016:", difference)

This is the missing state in 2016: [[]]

In [ ]:
#We can export our data into a csv
pd.DataFrame.to_csv(dataset, 'dataset.txt', sep=',', na_rep='.', index=False)